.password_generator {
    margin-top: 80px;
    
    background-color: lightblue;
    border: darkblue solid 5px;
    width: 100%;
}

#display {
    width: 100%;
}

#slider {
    width: 100%;
}

.passwords_generated {
    margin-bottom: 30px;

}
#length{
    display: inline-block;
    width: 0px;
}

.navbar-brand{
    font-size: 50px;
}

h4 {
    text-align: center;
}